@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.nv{
    background-color: rgb(51,51,51);
}
.dd{
    background-color: rgb(51,51,51);
    border: none;
    color: #b7b7b7;
    font-weight: bold;
    padding-right: 18px;
}
#navBtn{
    background-color: white;
    padding: 5px 20px 5px 20px;
    color: #3d3a3f;
    font-weight: bold;
    font-size: 13px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#brnd{
    display: inline;
    margin: 0;
    padding: 0;
}
.short-intro h1 {
    color: #ffffff;
    width: 120%;
}
.heading{
    font-family: 'Times New Roman', Times, serif;
}
#div2{    
    background-color: black;
}
#div4{
    background-color: #5f5f5f;
}
.hs,.dark{
    color: white;
}
.ftr{
background-color: #333333;
color: white;
}
.c{
background-color: #c19b76;
}
#logo{
    height: 50px;
    border-radius: 50%;
}
.ath{
    background-color: #efefef;
}
#div6{
    background-color: #a7a7a7;
}
.set{
    padding-top: 2rem;    
    padding-bottom: 3rem;
}

#desc{
    font-size: 11px;
}

#div7{
    background-color: #232323;
}
span{
    color: #168BDE;
}
.d3{
    color: #7a818b;
}
#b2{
    background-color: #333333;
    color: white;
    border: none;
    padding: 5px 25px 5px 25px;
    font-size: 12px;
}
#leftbtn{
    background-color: #333333;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    font-size: 12px;
}
  .list{
      background-color: #ffffff;
  }
  .listBtn{
      background-color: #c19b76;
      color: white;
      border: none;
      font-weight: bold;
      font-size: 10px;
      padding: 5px 0px 5px 0px;
      width: 100%;
  }
  .icons{
      display: inline;      
  }
.navbar{
    position: absolute;
    width: 100%;
}
.active .nav-link{
    color: #168BDE !important;
}
#banner{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("./assets/images/DSC_0423.JPG");
}
#banner-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("./assets/images/DSC_0423.JPG");
}
#banner h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 30px;
}
#banner-sm h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 60px;
}
#banner p {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}
#txt{
    background-color: black;
    color: white;
    border: none;
    
}
#sub{
    background-color: #c19b76;
    color: white;
    border: none;
    font-size: 12px;
    font-weight: bold;
}
.card-title{
    font-size: 15px;
}
.per,.list-group-item{
    font-size: 14px;
    font-weight: lighter;
}
.card-text{
    font-size: 22px;
}
